[mysqld]
user            = root
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
mysqlx          = 0

# docker
host_cache_size=0
skip-name-resolve
bind-address    = 0.0.0.0

# Custom config should go here
!includedir /etc/mysql/conf.d/
