[mysqld]
# https://dev.mysql.com/blog-archive/mysql-group-replication-a-quick-start-guide/
# group replication pre-requisites & recommendations
log-bin
binlog-format = ROW
gtid-mode = ON
enforce-gtid-consistency = ON
log-slave-updates = ON
master-info-repository = TABLE
relay-log-info-repository = TABLE
binlog-checksum = NONE
# prevent use of non-transactional storage engines
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE"
# InnoDB gap locks are problematic for multi-primary conflict detection; none are used with READ-COMMITTED
# So if you don't rely on REPEATABLE-READ semantics and/or wish to use multi-primary mode then this
# isolation level is recommended 
transaction-isolation = 'READ-COMMITTED'

# group replication specific options
plugin-load = group_replication.so
group_replication = FORCE_PLUS_PERMANENT
transaction-write-set-extraction = XXHASH64
group_replication_start_on_boot = ON
group_replication_bootstrap_group = OFF
group_replication_group_name = {{ env "MYSQL_GROUP_REPLICATION_NAME" }} # UUID
group_replication_local_address = {{ env "MYSQL_GROUP_LOCAL_ADDRESS" }} # '192.168.1.92:6606'
group_replication_group_seeds = {{ env "MYSQL_GROUP_REPLICATION_SEEDS" }} # '192.168.1.93:6606,192.168.1.94:6606'
